<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container bootstrap snippets bootdey" *ngFor="let user of userList | filter : searchTerm:'firstName'" > 
    <!-- | filter : searchTerm:'id" -->
    <div class="row">
  <div class="profile-nav col-md-3">
      <div class="panel">
          <div class="user-heading round">
              <a href="#">
                  <img src="{{user.image}}" alt="">
                  
              </a>
<br>
<br>
              <h1>{{user.company.title}}</h1>
<br>

          </div>

      </div>
  </div>
  <div class="profile-info col-md-9">
      <div class="panel">
          <div class="panel-body bio-graph-info">
              <h1>User Details</h1>
              <div class="row">
                <div class="bio-row">
                    <p><span>Id </span>: {{user.id}}</p>
                </div>
                  <div class="bio-row">
                      <p><span>First Name </span>: {{user.firstName}}</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Last Name </span>: {{user.lastName}}</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Birthday</span>: {{user.birthDate}}</p>
                  </div>
                  <div class="bio-row">
                    <p><span>Address </span>: {{user.address.address}}, {{user.address.city}}</p>
                </div>
                <div class="bio-row">
                    <p><span>Postal Code </span>: {{user.address.postalCode}}</p>
                </div>

                  <div class="bio-row">
                      <p><span>Company </span>: {{user.company.name}}</p>
                  </div>
                  <div class="bio-row">
                    <p><span>C Address </span>: {{user.company.address.address}},{{user.company.address.city}}</p>
                </div>

                  <div class="bio-row">
                      <p><span>Email </span>: {{user.email}}</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Phone </span>: {{user.phone}}</p>
                  </div>
              </div>
          </div>
      </div>
      <div>

      </div>
  </div>
</div>
<hr>
</div>
